CompileFlags:
  CompilationDatabase: "build"
  Add: [-Iinclude]

Diagnostics:
  ClangTidy:
    Add: []

---
If:
  PathMatch: .*\.(hpp|inl)
CompileFlags:
  Add: [-xc++-header, -std=c++26]
  Remove: [-std=*]
