Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*
WarningsAsErrors: 'bugprone-*,performance-*,clang-analyzer-*'
HeaderFilterRegex: 'include/|src/'
AnalyzeTemporaryDtors: true
FormatStyle: none
