CompileFlags:
  CompilationDatabase: "build"
  Add:
    [
      -I../include,
      -I../src,
      -I../extras,
      -isystem,
      ../extern/JoltPhysics,
      -freflection,
      -fannotation-attributes,
      -D__cpp_impl_reflection=202603L,
      -D__glibcxx_want_reflection,
      -DJPH_DOUBLE_PRECISION,
    ]

Diagnostics:
  ClangTidy:
    Add: []

---
If:
  PathMatch: .*\.(hpp|inl|h)
CompileFlags:
  Add:
    [
      -xc++-header,
      -std=c++26,
      -I../include,
      -I../src,
      -I../extras,
      -isystem,
      ../extern/JoltPhysics,
      -freflection,
      -fannotation-attributes,
      -D__cpp_impl_reflection=202603L,
      -D__glibcxx_want_reflection,
      -DJPH_DOUBLE_PRECISION,
    ]
  Remove: [-std=*]
