[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/LLGL"]
	path = extern/LLGL
	url = https://github.com/LukasBanana/LLGL.git
[submodule "extern/LuaJIT"]
	path = extern/LuaJIT
	url = https://github.com/Evilpasture/LuaJIT.git
	branch = v2.1
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
