[submodule "extern/JoltPhysics"]
	path = extern/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "extern/LuaJIT"]
	path = extern/LuaJIT
	url = https://github.com/Evilpasture/LuaJIT.git
	branch = v2.1
[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
