# Treat .inl files as C++ headers globally
CompileFlags:
  Add: [-x, c++-header]

---

# Treat .h files as C headers globally
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-x, c-header]

---

If:
  PathMatch: src/render/.*\.(hpp|inl)
CompileFlags:
  Add: [-include, src/render/Rendering.hpp]
